.cta {
  margin-bottom: 3rem;
}
.cta .wrapper {
  background-color: white;
  padding: 2.5rem 4rem;
  border-radius: 1rem;
}
.cta .wrapper h1 {
  font-family: "Big Shoulders Inline Text";
  font-size: 2rem;
  color: #fb422e;
  margin-bottom: 2rem;
  text-align: center;
}
.cta .wrapper p {
  text-align: center;
  margin-bottom: 2rem;
}
.cta .wrapper .cta-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.cta .wrapper .cta-btns .order, .cta .wrapper .cta-btns .view {
  background-color: #fb422e;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 15px 30px;
  font-family: "Helvetica";
  letter-spacing: 0.1px;
  color: white;
}
.cta .wrapper .cta-btns .order:hover, .cta .wrapper .cta-btns .view:hover {
  box-shadow: inset 0 0 0 2px #fb422e;
  background-color: white;
  color: rgb(45, 45, 45);
}
.cta .wrapper .cta-btns .view {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fb422e;
  color: rgb(45, 45, 45);
}
.cta .wrapper .cta-btns .view:hover {
  background-color: #fb422e;
  box-shadow: none;
  color: white;
}

header {
  width: 100%;
  position: sticky;
  z-index: 3;
  padding: 0 20px;
  margin: 3px auto 0;
  top: 0;
  background-color: #fff4f3;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .cart,
header .account {
  height: 1.3rem;
  cursor: pointer;
}
header .cartContainer {
  display: inline-block;
  width: 40px;
}
header .cartContainer .cart {
  margin-left: 1rem;
}
header .cartContainer .quantityCircle {
  position: absolute;
  display: inline-block;
  font-size: 0.6rem;
  color: white;
  height: 18px;
  width: 18px;
  background-color: #fb422e;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  z-index: 5;
  right: 18px;
  top: 20px;
  cursor: pointer;
}
header .burger-menu {
  height: 2.5rem;
  width: 2.5rem;
  width: auto;
  color: #fb422e;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
header .fukidashi {
  transform: translate(300%, 0);
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 0.888);
  right: 27px;
  top: 33px;
  visibility: hidden;
  transition: transform 0.3s;
}
header .viewFukidashi {
  transform: translate(0, 0);
  visibility: visible;
  z-index: 3;
}
header .inside-cart {
  transform: translate(21rem, 30rem);
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 20rem;
  height: 30rem;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.655);
  backdrop-filter: blur(7px);
  transition: transform 0.3s;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.212);
  overflow: scroll;
}
header .inside-cart .list-items {
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  margin-bottom: 1rem;
}
header .inside-cart .list-items .item-container {
  display: flex;
  border-bottom: #fb422e 1px solid;
  width: 100%;
  height: 6rem;
  gap: 1rem;
  margin: 1rem 0;
}
header .inside-cart .list-items .item-container .item-delete {
  font-size: 1rem;
  align-items: center;
}
header .inside-cart .list-items .item-container .item-delete #delete-btn {
  cursor: pointer;
}
header .inside-cart .list-items .item-container .cartPic-container {
  width: 35%;
}
header .inside-cart .list-items .item-container .cartPic-container .cartPic {
  height: 65px;
  width: 65px;
}
header .inside-cart .list-items .item-container .detail-container {
  width: 53%;
  display: flex;
}
header .inside-cart .list-items .item-container .detail-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}
header .inside-cart .list-items .item-container .detail-container ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
header .inside-cart .list-items .item-container .item-name {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
}
header .inside-cart .list-items .item-container .cartPic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .inside-cart .list-items .item-container .namePrice {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
header .inside-cart .list-items .item-container .productPrice {
  font-size: 0.7rem;
}
header .inside-cart .list-items .item-container .subtotaltext {
  font-size: 0.8rem;
}
header .inside-cart .list-items .item-container .subtotalNum {
  font-size: 0.8rem;
}
header .cart-title {
  font-family: "Big Shoulders Inline Text";
  font-size: 2rem;
}
header .emptyCart {
  margin-top: auto;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.399);
}
header .checkout-wrapper {
  margin-top: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .checkout {
  background-color: #fb422e;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 15px 30px;
  font-family: "Helvetica";
  letter-spacing: 0.1px;
  color: white;
}
header .clearAll {
  display: block;
  text-align: right;
  margin-left: auto;
  color: rgb(113, 113, 113);
  font-size: 0.9rem;
}
header .viewCart {
  transform: translate(0, 30rem);
  visibility: visible;
  z-index: 2;
}

.hero {
  min-height: 680px;
  height: 93vh;
  display: flex;
  align-items: center;
}
.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 3.5rem;
}
.hero .wrapper img {
  position: relative;
  width: 450px;
  z-index: 1;
}
.hero .wrapper span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 6rem;
  transform: translate(-50%, 0);
  font-size: 9rem;
  z-index: 0;
  font-family: "Big Shoulders Inline Text";
  opacity: 0.3;
  font-weight: 900;
  color: #fb422e;
  letter-spacing: 1rem;
}
.hero .wrapper .hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero .wrapper .hero-btns .order, .hero .wrapper .hero-btns .view {
  background-color: #fb422e;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 15px 30px;
  font-family: "Helvetica";
  letter-spacing: 0.1px;
  color: white;
}
.hero .wrapper .hero-btns .order:hover, .hero .wrapper .hero-btns .view:hover {
  box-shadow: inset 0 0 0 2px #fb422e;
  background-color: transparent;
  color: rgb(45, 45, 45);
}
.hero .wrapper .hero-btns .view {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fb422e;
  color: rgb(45, 45, 45);
}
.hero .wrapper .hero-btns .view:hover {
  background-color: #fb422e;
  box-shadow: none;
  color: white;
}

.menu-top {
  display: flex;
  width: 25rem;
  height: 5.5rem;
  border-radius: 3rem;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto 0;
}
.menu-top .direction-icon {
  width: 3rem;
  height: 3rem;
}
.menu-top .menu-direction1 {
  padding: 1rem 0;
  cursor: pointer;
}
.menu-top .menu-direction {
  padding: 1rem 0;
  opacity: 0.5;
  cursor: pointer;
}
.menu-top p {
  font-size: 0.65rem;
  font-family: "Helvetica";
  text-align: center;
  color: rgb(45, 45, 45);
  margin-top: 0.3rem;
}

.menu-botom {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 4%;
  row-gap: 4%;
  width: 45rem;
  height: auto;
  margin: 2.5rem auto;
}
.menu-botom .contents-top {
  width: 10rem;
  height: 4rem;
  margin: 3rem auto;
}
.menu-botom .menu-img {
  width: 70%;
  height: auto;
}
.menu-botom .menu-content {
  height: 17rem;
  background-color: white;
  border-radius: 1.5rem;
  text-align: center;
}
.menu-botom .menu-title {
  font-family: "Helvetica";
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(45, 45, 45);
}
.menu-botom .menu-stars {
  color: #ffde3b;
}
.menu-botom .menu-stars i {
  width: 0.9rem;
  height: 0.9rem;
}
.menu-botom .menu-price {
  font-family: "Helvetica";
  color: #fb422e;
  font-size: 0.8rem;
}
.menu-botom .contents-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.6rem 0 1rem 0;
}
.menu-botom .addCart {
  margin-bottom: 2rem;
  bottom: 0;
  background-color: #fb422e;
  border: none;
  border-radius: 2rem;
  font-size: 0.5rem;
  padding: 10px 20px;
  font-family: "Helvetica";
  letter-spacing: 0.1px;
  color: white;
}
.menu-botom .addCart:hover {
  box-shadow: inset 0 0 0 2px #fb422e;
  background-color: white;
  color: rgb(45, 45, 45);
}

.special-deal {
  margin: 7rem 0 2rem;
  overflow-x: hidden;
  position: relative;
}
.special-deal .wrapper {
  height: 30rem;
  position: relative;
}
.special-deal .wrapper .deal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.special-deal .wrapper .deal-nav .scroll {
  display: flex;
  gap: 1rem;
}
.special-deal .wrapper .deal-nav .scroll i,
.special-deal .wrapper .deal-nav .scroll span {
  color: rgb(45, 45, 45);
}
.special-deal .wrapper .deal-nav .scroll i.active,
.special-deal .wrapper .deal-nav .scroll span.active {
  color: #fb422e;
}
.special-deal .wrapper .card-container .deal-card {
  transition: all 1s;
  padding: 2rem 1rem 2rem 3rem;
  display: flex;
  width: 33rem;
  position: relative;
  color: rgb(45, 45, 45);
  background-color: white;
  border-radius: 1rem;
  position: absolute;
}
.special-deal .wrapper .card-container .deal-card.current {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.special-deal .wrapper .card-container .deal-card.next {
  left: 35rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.special-deal .wrapper .card-container .deal-card.third {
  left: 70rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.special-deal .wrapper .card-container .deal-card.left {
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.special-deal .wrapper .card-container .deal-card .deal-left {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.special-deal .wrapper .card-container .deal-card .deal-left .deal-title {
  font-weight: 700;
  font-size: 1.1rem;
}
.special-deal .wrapper .card-container .deal-card .deal-left .stars {
  margin-bottom: 1rem;
}
.special-deal .wrapper .card-container .deal-card .deal-left .stars .star {
  height: 1rem;
  width: 1rem;
  color: #ffde3b;
}
.special-deal .wrapper .card-container .deal-card .deal-left ul {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.special-deal .wrapper .card-container .deal-card .deal-left ul li {
  display: flex;
  align-items: center;
  color: rgb(99, 99, 99);
}
.special-deal .wrapper .card-container .deal-card .deal-left ul li img {
  height: 1.3rem;
  margin-right: 1rem;
}
.special-deal .wrapper .card-container .deal-card .deal-left .cost span {
  color: #fb422e;
  font-weight: 700;
  font-size: 1.1rem;
}
.special-deal .wrapper .card-container .deal-card .right-pic {
  width: 68%;
  text-align: center;
}
.special-deal .wrapper .card-container .deal-card .right-pic img {
  width: 80%;
  vertical-align: middle;
}
.special-deal .wrapper .card-container .deal-card .special-addCart {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fb422e;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 15px 30px;
  font-family: "Helvetica";
  letter-spacing: 0.1px;
  color: white;
}
.special-deal .wrapper .card-container .deal-card .special-addCart:hover {
  box-shadow: inset 0 0 0 2px #fb422e;
  background-color: white;
  color: rgb(45, 45, 45);
}

footer {
  font-family: "Helvetica";
  color: #7d6e6f;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer-right .terms {
  margin-right: 4rem;
}
footer .footer-right .policy {
  margin-right: 4rem;
}
footer .footer-right .social {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer .footer-right .social-twitter, footer .footer-right .social-linkedin, footer .footer-right .social-facebook {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #e7f1f6;
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-right .social-facebook {
  background-color: #e9e6ec;
}
footer .footer-right .social-linkedin {
  background-color: #eaeef3;
}
footer .footer-right .social-img {
  width: 1.3rem;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff4f3;
  font-family: "Helvetica";
  overflow-x: hidden;
  position: relative;
}
body a {
  cursor: pointer;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: "Big Shoulders Inline Text";
  font-size: 2rem;
  color: #fb422e;
}

.hide {
  display: none !important;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
