@use "variable" as var;

footer {
  @include var.helve;
  color: #7d6e6f;
  font-size: 0.6rem;
  margin-bottom: 1rem;

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .terms {
      margin-right: 4rem;
    }

    .policy {
      margin-right: 4rem;
    }

    .social {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .social-twitter {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #e7f1f6;
      margin-right: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social-facebook {
      @extend .social-twitter;
      background-color: #e9e6ec;
    }

    .social-linkedin {
      @extend .social-twitter;
      background-color: #eaeef3;
    }

    .social-img {
      width: 1.3rem;
      height: auto;
    }
  }
}
