@use "variable" as var;

header {
  width: 100%;
  position: sticky;
  z-index: 3;
  padding: 0 20px;
  margin: 3px auto 0;
  top: 0;
  background-color: var.$lightorange;

  height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart,
  .account {
    height: 1.3rem;
    cursor: pointer;
  }
  .cartContainer {
    display: inline-block;
    width: 40px;
    .cart {
      margin-left: 1rem;
    }
    .quantityCircle {
      position: absolute;
      display: inline-block;
      font-size: 0.6rem;
      color: white;

      height: 18px;
      width: 18px;
      background-color: var.$orangered;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      z-index: 5;
      right: 18px;
      top: 20px;

      cursor: pointer;
    }
  }
  .burger-menu {
    height: 2.5rem;
    width: 2.5rem;
    width: auto;

    color: var.$orangered;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }
  .fukidashi {
    transform: translate(300%, 0);
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid rgba(255, 255, 255, 0.888);
    right: 27px;
    top: 33px;
    visibility: hidden;
    transition: transform 0.3s;
  }
  .viewFukidashi {
    transform: translate(0, 0);
    visibility: visible;
    z-index: 3;
  }

  .inside-cart {
    transform: translate(21rem, 30rem);
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 20rem;
    height: 30rem;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.655);
    backdrop-filter: blur(7px);
    transition: transform 0.3s;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 1rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.212);
    overflow: scroll;

    //list of items
    .list-items {
      width: 100%;
      overflow: scroll;
      scrollbar-width: none;
      margin-bottom: 1rem;
      .item-container {
        display: flex;

        border-bottom: var.$orangered 1px solid;
        width: 100%;
        height: 6rem;
        gap: 1rem;
        margin: 1rem 0;

        .item-delete {
          font-size: 1rem;
          align-items: center;

          #delete-btn{
            cursor: pointer;
          }
        }

        .cartPic-container {
          width: 35%;
          .cartPic {
            height: 65px;
            width: 65px;
          }
        }
        .detail-container {
          width: 53%;
          display: flex;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 0.8rem;

            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 0.8rem;
            }
          }
        }
        .item-name {
          display: flex;
          justify-content: space-between;
          font-size: 1rem;
          font-weight: 600;
        }
        .cartPic-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .namePrice {
          display: flex;
          justify-content: space-between;
          font-size: 1rem;
        }
        .productPrice {
          font-size: 0.7rem;
        }
        .subtotaltext {
          font-size: 0.8rem;
        }
        .subtotalNum {
          font-size: 0.8rem;
        }
      }
    }
  }

  .cart-title {
    @include var.bigshol;
    font-size: 2rem;
  }
  .emptyCart {
    margin-top: auto;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.399);
  }
  .checkout-wrapper {
    margin-top: auto;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .checkout {
    background-color: var.$orangered;
    border: none;
    border-radius: 2rem;
    font-size: 0.8rem;
    padding: 15px 30px;
    @include var.helve;
    letter-spacing: 0.1px;
    color: white;
  }
  .clearAll {
    display: block;
    text-align: right;
    margin-left: auto;
    color: rgb(113, 113, 113);
    font-size: 0.9rem;
  }

  .viewCart {
    transform: translate(0, 30rem);
    visibility: visible;
    z-index: 2;
  }
}
