@use "variable" as var;

.hero {
  min-height: 680px;
  height: 93vh;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    gap: 3.5rem;
    img {
      position: relative;

      width: 450px;
      z-index: 1;
    }
    span {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 6rem;
      transform: translate(-50%, 0);
      font-size: 9rem;
      z-index: 0;
      @include var.bigshol;
      opacity: 0.3;
      font-weight: 900;
      color: var.$orangered;
      letter-spacing: 1rem;
    }
    .hero-btns {
      display: flex;
      @include var.center;
      gap: 2rem;
      .order {
        background-color: var.$orangered;
        border: none;
        border-radius: 2rem;
        font-size: 0.8rem;
        padding: 15px 30px;
        @include var.helve;
        letter-spacing: 0.1px;

        color: white;
        &:hover {
          box-shadow: inset 0 0 0 2px var.$orangered;
          // border: var.$orangered solid 2px;
          background-color: transparent;
          color: var.$darkgrey;
        }
      }
      .view {
        @extend .order;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px var.$orangered;
        color: var.$darkgrey;
        &:hover {
          background-color: var.$orangered;
          box-shadow: none;
          color: white;
        }
      }
    }
  }
}
