@use "variable" as var;

.hero {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
    img {
      position: relative;
      height: 420px;
      width: auto;
      z-index: 1;
    }
    span {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 5rem;
      transform: translate(-50%, 0);
      font-size: 9rem;
      z-index: 0;
      @include var.bigshol;
      opacity: 0.3;
      font-weight: 900;
      color: var.$orangered;
      letter-spacing: 1rem;
    }
    .hero-btns {
      display: flex;
      @include var.center;
      gap: 2rem;
      .order {
        background-color: var.$orangered;
        border: none;
        border-radius: 2rem;
        font-size: 0.8rem;
        padding: 15px 30px;
        @include var.helve;
        letter-spacing: 0.1px;
        a {
          color: white;
        }
      }
      .view {
        @extend .order;
        background-color: transparent;
        border: var.$orangered 2px solid;
        a {
          color: var.$darkgrey;
        }
      }
    }
  }
}
