@use "variable" as var;
@use "cta";
@use "features";
@use "header";
@use "hero";
@use "menu";
@use "special-deal";
@use "footer.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var.$lightorange;
}

.wrapper{
  width:80%;
  margin:0 auto;
}
