@use "variable" as var;
@use "cta";
@use "header";
@use "hero";
@use "menu";
@use "special-deal";
@use "footer.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var.$lightorange;
  @include var.helve;
  overflow-x: hidden;
  position: relative;

  a {
    cursor: pointer;
  }
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  @include var.bigshol;
  font-size: 2rem;
  color: var.$orangered;
}

.hide {
  display: hidden;
}

.wrapper{
  width:80%;
  margin:0 auto;
}
